

$primaryColor: #d62828;   
$secondaryColor: #fefae0;
$accentColor: #01555e;    
$highlightColor: #d3d4d4;
$greyColor: #e0e0e0;     

$gutter: 1rem;

$defaultFont: 'Bebas Neue', 'Poppins', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 1.6;