$primaryColor: #455a64;
$secondaryColor: #4d7283;
$greyColor: #ccc;
$bodyBackground: #f9f9f9;

$defaultFont: 'Lato', sans-serif;
$lightWeight: 300;
$normalWeight: 400;
$boldWeight: 700;

$gutter: 16px;
$leading: 1.6;